* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, green, blue);
}
.app {
    font-family: poppins;
    width: min(95vw, 31.25em);
    position: absolute;
    margin: auto;
}

.container {
    padding: 2em 2.5em;
    background-color: #f1f8fb;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    border-radius: 0.8em;
    overflow-y: scroll;
    max-height: 80vh;
}
#wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 1em;
}
#wrapper input {
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-size: .9em;
    border: none;
    border-bottom: 2px solid antiquewhite;
    padding: 1em .5em;
}

#wrapper input:focus {
    outline: none;
    border-color: chocolate;
}

#wrapper button {
    position: relative;
    border-radius: .5em;
    font-weight: 500;
    font-size: 1em;
    background-color: chocolate;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#tasks {
    margin-top: 1em;
    border-radius: .5em;
    width: 100%;
    position: relative;
    padding: 1em .5em;
}

.task {
    background-color: #fff;
    padding: .8em 1em;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 1em;
    border-radius: .5em;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.5);
    align-items: center;
    cursor: pointer;
}

.task:not(:first-child) {
    margin-top: 1em;
}

.task input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #5a95ff;
}

.task input[type="checkbox"]:before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.task input[type="checkbox"]:checked {
    background-color: #5a95ff;
    border-color: #5a95ff;
}

.task input[type="checkbox"]:checked:before {
    position: absolute;
    content: "\f00c";
    color: #fff;
    font-size: .8em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.task span {
    font: .9em;
    font-weight: 400;
    word-break: break-all;
}

.task button {
    color: #fff;
    width: 100%;
    padding: 1em 0;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    outline: none;
}

.edit {
    background-color: #5a95ff;
}

.delete {
    background-color: #ff5c5c;
}

#pending-tasks span {
    color: chocolate;
}

.completed {
    text-decoration: line-through;
    color: #a0a0a0;
}

#error {
    text-align: center;
    background-color: #fff;
    color: #ff5c5c;
    font-weight: 500;
    margin-top: 1.5em;
    padding: 1em 0;
    border-radius: .8em;
    display: none;
}